@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;    
}