@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.bg-primary {
    background-color: #9c27b0;
}

.bg-primary-light {
    background-color: #af52bf;
}

.bg-primary-xlight {
    background-color: #d685e4;
}

.bg-primary-dark {
    background-color: #6d1b7b;
}